
<!DOCTYPE html>
<html>
<!-- <head> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!-- <style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body> -->


<!-- <div class="row">
  <div class="column" > -->
    <h2>This bar graph shows number of tweets by keywords</h2>
    {% if bar_chart %}
    <img src="data: image/png;base64, {{bar_chart|safe}}" style="width:1000px;height:250px;">
    {% endif %}
  <!-- </div> -->

  <!-- <div class="column"> -->
    <h2>This pie chart shows the percentage of sentiment tweets</h2>
    {% if pie_chart %}
    <img src="data: image/png;base64, {{pie_chart|safe}}" style="width: 500px;height: 500px;">
    {% endif %}
  <!-- </div> -->
<!-- </div> -->

</body>
</html>
