{% load static %}
<!DOCTYPE html>

<html>
<head>
  <title>SGFOOD!</title>
  <link rel="stylesheet" href={% static 'styling.css' %}>
</head>

<body>
<div class="bg">
<div class="centered">
	COVID TWEETS SEARCH ENGINE
<form type="get" action="/results/" style="margin: 0">
	
    <input  id="search_box" type="text" name="search_box"  placeholder="query" left="50%" >
    <button id="search_submit" type="submit" >Search!</button>
</form>

<div class="line"></div>

<form type="get" action="/tweetsByEachUser/" style="margin: 0">
  <button id="TweetsByEachUser" type="submit" name="TweetsByEachUser">TweetsByEachUser Search!</button>
</form>

<div class="line"></div>

<form type="get" action="/spellCheck/" style="margin: 0">

    <input  id="spell_check_box" type="text" name="spell_check_box"  placeholder="query" left="50%" >
    <button id="SpellCheck" type="submit" name="SpellCheck">SpellCheck!</button>

</form>

<div class="line"></div>

<body>
    <div class="outer">
        <br>
        <br>
    {% for dic in results %}
    <p>{{dic}}</p> 
    
<div class="line"></div>

    {% endfor %}
</div>
</body>

</div>
</div>
</html> 
