body {
    background-color: aliceblue;
}

button,
input {
    background-color: cornflowerblue;
    color: aliceblue;
    border-radius: 5px;
    font-weight: bold;
    border-color: aliceblue;
}

.line {
    height: 10px;
}

.time {
    font-size: medium;
}

.content {
    font-size: larger;
}

.outer {
    margin-bottom: 25px;
    margin-top: 25px;
}

.spellCheck {
    font-style: italic;
    font-weight: bold;
}

.tweet {
    margin: 8px;
    padding: 5px;
    border-style: groove;
    border: 2px groove cornflowerblue;
    box-shadow: 4px 4px 2px cornflowerblue;

}